@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap');

/* 리셋css코드 */
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

/* cloudsync 이미지*/
.cloudsync_sample{
    width: 100%;
    height: 200vh;
    background: url("/images/cloudsync_screenshot.png") no-repeat;
    background-size: cover;
    position: relative;
    top: 85px;
}
@media all and (max-width: 659px) {
    .cloudsync_sample{
        top: 80px;
    }
}

/* 기존css */
.navbar-fixed-top{
    top: 0;
}
.navbar-fixed-bottom, .navbar-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* 상단배너 css */
.top_banner{
    position: fixed;
    top: 0;
    width: 100%;
    height: 85px;
    background-image: url("/images/banner_bg.png");
    background-size: cover;
    font-family: "Poppins", serif;
    text-decoration: none;
}
.copyright_box{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copy_wrap{
    display: flex;
    align-items:center;
    height: 100%;
}
.mobile_owl{
    display: none;
}
.head_copy{
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
    line-height: 0.8;
}
.head_copy::after{
    content: "It's time to Upgrade!";
}
.small_copy{
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    margin-left: 10px;
    margin-top: 8px;
}
.small_copy::after{
    content: 'Smarter, Intuitive and More Powerful CloudSync Solution';
}
.topBanner_btn{
    border: none;
    padding: 10px 40px 9px 40px;
    background-color: #fff;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 30px;
}
.topBanner_btn:hover{
    box-shadow: 0 0 20px rgb(255,255,255);
}
.btn_logo{
    width: 160px;
}

.banner_close{
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 10px;
}
@media (min-width:769px) and (max-width:1279px){
    .small_copy{
        display: none;
    }
    .topBanner_btn{
        padding: 9px 32px;
    }
    .btn_logo{
        width: 140px;
    }
}
@media (min-width: 660px) and (max-width: 768px) {
    .small_copy{
        display: none;
    }
    .head_copy::after{
        content: "It's time to Ugrade!";
    }
    .topBanner_btn{
        padding: 8px 18px;
        margin-left: 15px;
    }
    .btn_logo{
        width: 100px;
    }
}
@media all and (max-width: 659px) {
    .top_banner{
        background: url('/images/mobile.jpg');
        background-size: cover;
        background-position: left center;
        height: 80px;
    }
    .copyright_box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-right: 20px;
    }
    .copy_wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .mobile_owl{
        display: block;
        width: 46px;
        margin-right: 10px;
    }
    .head_copy{
        font-size: 21px;
        line-height: 0;
    }
    .head_copy::after{
        content: "It's time to Upgrade!";
    }
    .small_copy{
        font-size: 14px;
        line-height: 1;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 8px;
    }
    .small_copy::after{
        content: 'More Powerful CloudSync Solution';
    }
    .topBanner_btn{
        display: none;
    }
}


/* 오른쪽 하단 card-banner css */
.card_banner{
    width: 320px;
    background: #fff;
    overflow: hidden;
    border-radius: 18px;
    position: fixed;
    right: 45px;
    bottom: 40px;
    box-shadow: 0 0 15px rgba(72,76, 79, 0.3);
}
.card_img{
    width: 320px;
}
.card_txt{
    padding: 15px 25px 0 25px;
    font-family: "Poppins", serif;
}
.card_title{
    width: 180px;
    margin-bottom: 3px;
}
.card_head{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: #555;
}
.card_close{
    border: none;
    padding: 0;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
}

.orange_btn_box{
    padding: 0 25px 18px 25px;
}

.orange_btn {
    z-index: 1;
    background: linear-gradient(90deg, #FF7A25, #FFA735, #ffcb3b, #FF7A25);
    background-size: 400%;
    border: none;
    color: #fff;
    padding: 7px 0;
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
    font-family: "Poppins", serif;
    margin-top: 10px;
    cursor: pointer;
}

.orange_btn:hover {
    animation-name: gradient;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.orange_btn:before {
    content: "";
    z-index: -1;
    background: linear-gradient(180deg, #FF7A25, #FFA735, #ffcb3b, #FF7A25);
    /* 배경사이즈를 x축, y축으로 4배 늘린다. */
    background-size: 400%;
    opacity: 0;
    transition: 0.3s;
}

.orange_btn:hover:before {
    opacity: 1;
    filter: blur(20px);
    animation-name: gradient;
    animation-duration: .5s;
    animation-timing-function: linear;
}
.ico_close{
    fill: #fff;
}

/* gradient animation */
@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

/* 오른쪽 하단 card-banner css - mobile*/
@media all and (max-width: 479px) {
    .card_banner{
        width: 90%;
        position: fixed;
        left: 50%;
        bottom: 2%;
        overflow: visible;
        transform: translate(-50%, 0);
        min-width: 296px;
    }
    .mobile_layout{
        display: flex;
        padding: 25px 25px 6px 25px;
        flex-direction: row-reverse;
    }
    .card_img{
        width: 80px;
        border-radius: 8px;
    }
    .card_txt{
        padding: 0;
    }
    .card_title{
        width: 160px;
    }
    .card_head{
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .ico_close{
        fill: #555;
    }
    .card_close{
        width: 40px;
        height: 40px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        position: absolute;
        top: -17px;
        right: -10px;
        box-shadow: 0 0 15px rgba(72,76, 79, 0.3);
        z-index: 100000;
    }
}